.cotacao-atual-dolar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.informacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.informacao {
  padding: 10px 20px;
  border-radius: 25px;
}

.valor, .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
}

.valor {
  background-color: var(--cor-destaque);
  color: white;
}

.data {
  background-color: var(--surface-200);
  color: var(--text-color-secondary);
}

.valor i,
.data i {
  margin-right: 15px;
}

@media screen and (min-width: 576px) {
  .informacoes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .valor {
    margin-right: 1rem;
  }
  .valor, .data {
    width: unset;
  }
}
